{% extends 'base/base.html' %}
{% block body %}
<div class="container">
    <div class="row justify-content-center m-3 py-4 rounded-lg border bg-light">
        <div class="col-md-offset-2 col-md-5">
            <img class="img-fluid rounded mx-auto1 p-1 d-block border" src="/media/{{ game.cover }}">
        </div>
        <div class="col-md-6">
            <h1>{{ game.name }}</h1>
            <h5>Developer: {{ game.developer }}</h5>
            <h5>Publisher: {{ game.publisher }}</h5>
            <br>
            <p>{{ game.description }}</p>
        </div>
        {% if request.user.is_superuser %}
            <div class="col">
                <div class="col">
                    <br>
                    <a href="{% url 'update_game' game.id %}" class="btn btn-primary">Edit</a>
                    <a href="{% url 'delete_game' game.id %}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        {% endif %}
    </div>
    {% for version in game_versions %}
    <div class="row p-3 m-3 text-center bg-light rounded-lg">
        <div class="col-md-4 rounded-lg p-3">
            <h2 class="vertical">{{ version.console }}</h2>
            {% if version.edition is not null %}
                <h4>{{ version.edition }} Edition</h4>
            {% endif %}
            {% if version.collection is not null %}
                <h6>from <a href="{% url 'game_detail' version.collection.id %}">{{ version.collection }}</a></h6>
            {% endif %}
        </div>
        <div class="col-md-4 rounded-lg p-3 list-group bg-success">
            <h2 class="text-light">Positives</h2>
            {% for key, value in positives.items %}
                {% if key == version %}
                    {% for positive in value %}
                        <div class="list-group">
                            <div class="positive flex-column align-items-start list-group-item-success border-top border-success">
                                <div class="justify-content-between mt-3">
                                    <h4 class="mb-1">{{positive.name}}</h4>
                                </div>
                                <p class="px-3">{{ positive.description }}</p>
                                {% if request.user.is_superuser %}
                                    <div class="col mb-3">
                                        <a href="{% url 'update_console_game_positive' game.id version.id positive.id %}" class="btn btn-primary">Edit</a>
                                        <a href="{% url 'delete_console_game_positive' game.id version.id positive.id %}" class="btn btn-danger">Delete</a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% if request.user.is_superuser %}
            <div class="row justify-content-center p-6 mt-3">
                <a href="{% url 'create_console_game_positive' game.id version.id %}" class="btn btn-warning">Add</a>
            </div>
        {% endif %}
        </div>
        <div class="col-md-4 rounded-lg p-3 list-group bg-danger">
            <h2 class="text-light">Negatives</h2>
            {% for key, value in negatives.items %}
                {% if key == version %}
                    {% for negative in value %}
                        <div class="list-group">
                            <div class="negative flex-column align-items-start list-group-item-danger border-top border-danger">
                                <div class="justify-content-between mt-3">
                                    <h4 class="mb-1">{{negative.name}}</h4>
                                </div>
                                <p class="px-3">{{ negative.description }}</p>
                                {% if request.user.is_superuser %}
                                    <div class="col mb-3">
                                        <a href="{% url 'update_console_game_negative' game.id version.id negative.id %}" class="btn btn-primary">Edit</a>
                                        <a href="{% url 'delete_console_game_negative' game.id version.id negative.id %}" class="btn btn-danger">Delete</a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% if request.user.is_superuser %}
            <div class="row justify-content-center p-6 mt-3">
                <a href="{% url 'create_console_game_negative' game.id version.id %}" class="btn btn-warning">Add</a>
            </div>
        {% endif %}
        </div>
        {% if request.user.is_superuser %}
            <div class="row">
                <div class="col align-left">
                    <a href="{% url 'update_console_game' game.id version.id %}" class="btn btn-primary">Edit</a>
                    <a href="{% url 'delete_console_game' game.id version.id %}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        {% endif %}
    </div>
    {% endfor %}
    {% if request.user.is_superuser %}
        <div class="row justify-content-center p-6">
            <a href="{% url 'create_console_game' game.id %}" class="btn btn-warning col-md-4">Add New Version</a>
        </div>
    {% endif %}
    <br>
</div>
{% endblock %}